# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]  # This will ignore .pyc, .pyo, and .pyd files but not .py files
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.tox/
dist/
build/
*.egg-info/
.mypy_cache/

# Poetry
poetry.lock

# VS Code settings (if you want to ignore the whole directory)
# .vscode/

# Jupyter Notebook
.ipynb_checkpoints/
reddit_streaming/Reddit_consumer.ipynb
reddit_streaming/Reddit_producer.ipynb

# PySpark
.metastore_db/

# Secrets
.env
creds.sh

misc.txt

# mios
reddit_streaming/client.py
reddit_streaming/comments.txt
reddit_streaming/consumer.py
reddit_streaming/data/metrics/
reddit_streaming/data/sentiment/
reddit_streaming/data/raw/
reddit_streaming/data/checkpoint/metrics/
reddit_streaming/data/checkpoint/sentiment/
reddit_streaming/data/checkpoint/raw/
reddit_streaming/data/json_data
reddit_streaming/data_gathering.ipynb
reddit_streaming/live_comments_socket.py
reddit_streaming/producerNotebook.ipynb
reddit_streaming/data/json/*.json
